
* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {  
    border: 2px solid #008000;
    background: #1F2937;
    height: 500px;
    padding-left:250px;
    padding-right:250px;
}

.header {  
    height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.header_left {  
    font-size: 32px;
    color: #F9FAF8;

}

.header_right {  
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.content_1 {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:0px;

}

.title {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: left;
    gap:10px;
    width:400px;

}

.awesome {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAf8;

}

.awesome_description {
    font-size: 18px;
    color: #E5E7EB;

}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
  }

.image_container {
    flex-basis: 430px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
  }







