
* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container_header {  
    background: #1F2937;
    height: 50px;
    padding-left:250px;
    padding-right:250px;
}

.header {  
    height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.header_left {  
    font-size: 32px;
    color: #F9FAF8;

}

.header_right {  
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.container_content_1 {  
    background: #1F2937;
    height: 300px;
    padding-left:250px;
    padding-right:250px;
}

.content_1 {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:0px;

}

.title {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: left;
    gap:10px;
    width:400px;

}

.awesome {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAf8;

}

.awesome_description {
    font-size: 18px;
    color: #E5E7EB;

}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
  }

.image_container {
    flex-basis: 430px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
  }

.container_content_2 {  
    background: white;
    height: 300px;
    padding-left:250px;
    padding-right:250px;
}

.content_2 {
    height: 300px;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:10px;

}

.random_infos {
    height:80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;

}

.squares_images {
    display:flex;
    text-align: center;
    vertical-align: middle;
    gap:90px;
}

.Square_Image {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.blue_squares {
    border: 2px solid #3882F6;
    border-radius: 5px;
    width: 80px;
    height: 80px;
    margin-left:40px;
    margin-bottom:5px;
 
}

.container_content_3 {  
    background: #E5E7EB;
    height: 300px;
    padding-left:250px;
    padding-right:250px;
}

.content_3 {
    height: 300px;
    display: flex;
    flex-direction:column;

}

.Quote {
    margin-top:80px;
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
}

.QuoteR {
    font-size: 20px;
    font-weight: bold;
    color: #1F2937;
    margin-left: auto; 
    margin-right: 0;
}

.container_content_4 {  
    background: white;
    height:200px;
    padding-left:250px;
    padding-right:250px;
}

.content_4 {
    background: #3882F6;
    height:100px;
    display: flex;
    margin-top:100px;
    margin-bottom:100px;
    border-radius: 8px;
    justify-content: space-between;
    color:white;

}

.Call_to_action {
    margin:30px;
    margin-left:50px;
}

.Signup {
    margin:30px;
    margin-right:50px;
}

.notifications {
    border: 2px solid white;

}

.container_footer {  
    background: #1F2937;
    height:50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color:white;

}











